* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  color: black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  background-position: center;
  background-size: cover;
}
header h1 {
  cursor: pointer;
}

.topIcon {
  margin-top: 18px;
  float: left;
}

#homeBtn {
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
}

.signBox {
  margin-top: 20px;
  float: right;
}
.signUpBtn {
  cursor: pointer;
}
.loginBtn {
  cursor: pointer;
}

.body {
  margin-top: 5px;
  border-style: solid none none none;
}

.postBox {
  color: white;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
