* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(233, 233, 240);
}
header {
  color: black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  background-position: center;
  background-size: cover;
}
header h1 {
  text-align: center;
  cursor: pointer;
}

.topIcon {
  margin-top: 18px;
  float: left;
}

#homeBtn {
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
}

.signBox {
  margin-top: 20px;
  float: right;
}
.signUpBtn {
  cursor: pointer;
}
.loginBtn {
  cursor: pointer;
}

.body {
  margin-top: 5px;
  border-style: solid none none none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.postBox {
  min-width: 250px;
  width: 250px;
  min-height: 400px;
  height: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}

.postBox:hover {
  width: 252px;
  opacity: 80%;
}
.postBox p {
  margin-top: 20px;
  text-align: center;
}
