.inputBody {
  margin-top: 5px;
  width: 100%;
  display: block;
}
.postTitle {
  width: 50%;
  padding-left: 10px;
  margin: 100px auto 20px 400px;
  min-width: 800px;
  height: 30px;
}

.postTextArea {
  width: 50%;
  min-width: 800px;
  margin: 20px 400px;
  padding: 20px;
  resize: none;
}

.postsSubmit {
  margin: 2px 550px auto auto;
  cursor: pointer;
  display: block;
  padding: 4px 10px;
  background: #e95016;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  float: right;
}

.fileInclude {
  margin-left: 400px;
  margin-bottom: 50px;
}

.writeForm {
  margin-bottom: 50px;
}
